@model SynovaWeb.Models.Shipment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.BookingNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.BookingNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipmentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipmentNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status.status_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.status_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.receiver_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiver_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receiver_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiver_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receiver_zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiver_zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receiver_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiver_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipment_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickup_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickup_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>
      
        <dt>
            @Html.DisplayNameFor(model => model.Status.status_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.status_name)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShipmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
