@model SynovaWeb.Models.DistributeCenter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DistributeCenter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Driver.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipment.Customer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipment.Customer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
