@model SynovaWeb.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickup_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickup_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shipments)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Shipment No.</th>
                    <th>Status</th>
                </tr>
                @foreach (var item in Model.Shipments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShipmentNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.status_name)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
